 <div class='container dashboard-panel' style='margin-top: 5%'>
      <div class='page-header'>
        <h1 class='text-center'>Dashboard</h1>
      </div>
      <p class='lead text-center'> Manage Layouts Orders</p>
      <div class='container'>
        <div class='row stylish-panel'>
          <div class='col-md-4 dash-panel' ng-click='layouts()'>
            <div class='within_dash'>
              <!-- INSERT ICON HERE -->
              <h2>Layouts</h2>
              <p>Create and manage layouts of ryour </p>
              <a href="">Go To Layouts</a>
            </div>
          </div>
          <div class='col-md-4 dash-panel'>
            <div class='within_dash' ng-click='orders()'>
              <!-- INSERT ICON HERE -->
              <h2>Orders</h2>
              <p>Create and manage layouts of ryour </p>
            </div>
          </div>
          <div class='col-md-4 dash-panel' ng-click='dc.goToMenu()'>
            <div class='within_dash'>
              <!-- INSERT ICON HERE -->
              <h2>Menu</h2>
              <p>Customize your Personal Menu</p>
            </div>
          </div>
        </div>
        <div class='row stylish-panel'>
          <div class='col-md-4 dash-panel' ng-click='waitlist()'>
            <div class='within_dash'>
              <!-- INSERT ICON HERE -->
              <h2>Waitlist</h2>
              <p>Create and manage layouts of ryour </p>
            </div>
          </div>
          <div class='col-md-4 dash-panel' >
            <div class='within_dash' style='cursor: pointer'>
              <!-- INSERT ICON HERE -->
              <h2>Inventory</h2>
              <p>Create and manage layouts of ryour re</p>
            </div>
          </div>
          <div class='col-md-4 dash-panel'>
            <div class='within_dash'>
              <!-- INSERT ICON HERE -->
              <h2>Statistics</h2>
              <p>Create and manage layouts of ryour re</p>
            </div>
          </div>
        </div>
      </div>
      <section class='LayoutPreview'>
        
      </section>
