/* Imported Files */


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);


/*
============================================================
ItemTable
============================================================
*/
/*jquery_test 

*/
/*

======
JQUERY FOR TABLE ICOSN
=====
*/


body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}




/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}


/* HOME PAGE */
header {
    background-image: linear-gradient(rgba(0,0,0,0.4) , rgba(0,0,0,0.2)),url('images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

section {
    padding: 80px 0;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

.fa fa-pencil-square-o {
    height: 30px;
    width: 100px;
}


.custom-btn {
    border: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}


/* Headings */

h1 {
    margin-top: 0;
    margin-bottom: 30px;
    word-spacing: 3px;
    color: black;
}


h2 {
    text-align: center;
    font-size: 210%;
}
/*
h2:after {
    display: block;
    width: 300px;
    height: 5.7px;
    background-color: grey;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 45px;

}
*/
/*h4 {
    text-align: center;
    font-size: 230%;
    font-family: 'sans-serif'
}*/

/* Header Title */

.simplify_operations {
    /* make a grayer color */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -75%);
}

.secures-description {
    padding: 40px;
    font-family: 'Verdana';
}


/* SECTIONS */

.how-it-works {
    background-color: #ECF7E6;
}

.col-md-4 p {
    line-height: 28px;
    font-size: 140%;
    margin-bottom: 50px;
}








/* END OF HOME PAGE */

.centered {
    text-align: center;
}



JQERY

.addNumberOfTables{
    display: none;
    position: absolute;
    z-index: 1000;
    margin-top: 15px;
    text-align: center;
    width: 98%;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
}

.addNumberOfTables-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top:0;
    left:0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3) !important;
}


a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
/*  cursor:default;
*/  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}


.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}



*/

CSS CODE
#navcontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
}


#navcontainer ul li { display: inline; }

#navbar {
    text-align: center;
}

#navbar > ul {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}
.navbar .navbar-light {
    text-align: center;
}
.navbar .navbar-light > ul {
    display: inline-block;
    *display: inline;
    vertical-align: top;
    *zoom: 1;
}

#start_now{
    text-align: center
    margin: 0 auto;
}

.button_groupings {
    margin-bottom: 40px;
}

.add_table {
    margin-right: 30px;
}
.reset_layout {
    margin-left: 30px;
}
.kit {
    width: 8%;
}
.kitchen_icon {
    max-width: 100%;
}
.bar {
    width: 8%;
}
.ent {
    width: 8%;
}
.bat {
    width: 8%;
}
.icons {
    max-width: 100%;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.rightClick {
    border: solid;
}

.Layout_Heading {
    font-family: 'Lobster', cursive;  
}

.jqueryDiv {
    width: 300px;
    height: 300px;
}

.icon_img{
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}

.ready {
    content: url('../images/status_tables/ready_To_seat.png');

}
.seated {
    content: url('../images/status_tables/seated.png');
}
.ordered {
    content: url('../images/status_tables/ordered.png');
}
.paid {
    content: url('../images/status_tables/paid.png');
}



.pending {
    content: url('../images/status_tables/ligh_color.png');
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
}


/*#tab0 {
    content: url("https://cdn1.iconfinder.com/data/icons/kitchen-4/500/Dine_dining_eat_eating_fork_knife_meal_meals_place-512.png");
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
*/
/*
end of jquery css
*/

/* pop up to add number of tables

*/





.addNumberOfTables {
    margin: 0 auto;
    text-align: center;
}

.numberOfTables {
    width: 30%;
}

.table_body {
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    width: 80%;
    height: 100%;
    margin-left: 5%;
    margin-right: 10%;
    text-align: center;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    table-layout: fixed;
}*/

.table_body .update_item {
    display: inline;
    width: 5%;
    background-color: #99ccff;
    color: white;
    border-radius: 5px;
    margin-left: 4px;
}
.nested_container {
    height: 100px;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
.table_container {
    vertical-align:top;
    height: 30%;
    width: 100%;
    margin: 10px;
    font-size: 12px;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    table-layout: fixed;
}


#remove_menu_category {
    height: 25px; 
    width: 30px; 
    font-size: 10px; 
    float: right;
    margin-left: 10%;
    background-color:grey;
    margin: 0 auto; 
    padding: 0;
}


#ind_order_button {
    height: 25px;
    width: 30px;
    font-size: 10px;
    float: right;
    background-color: grey;
    margin: 0 auto;
    padding: 0;
}

/*.col-md-4 table {
    margin: 0 auto;
    width: 200%;
}*/
/*
.table_body table {
    background: #f5f5f5;
    border-collapse: separate;
    table-layout: fixed;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    height: 50%;
    vertical-align: top;
    display: inline;
    white-space: nowrap;
}*/

/* MENU.HTML */


.menu_l {
    height: 200px;
    overflow-y: scroll;
}
/*

.table_body th {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;  
}

.table_body th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

.table_body #actions_th {
    text-align: center;
}

.table_body th:first-child {
    border-left: 1px solid #777;    
    box-shadow: inset 1px 1px 0 #999;
}

.table_body th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

.table_body td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

.table_body td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}   

.table_body td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}   

.table_body tr {
    background: url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.table_body tr:nth-child(odd) td {
    background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);  
}

.table_body tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff; 
}

.table_body tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
} 
.category_titles {
    cursor: pointer;
    margin: 10px;
}
.span_category_titles {
    margin: 10px;
    color: #3366ff;
}

.table_body tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}   

.table_body tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

.table_body tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
#view_order_table {
    width: 200%;
}
*/

.show_container input {
    width: 30%;
}

.order_menu_container {
    margin-left: 30px;
    width: 40%;
    display: inline-block;
    max-height:  300px;
    overflow: scroll;
    vertical-align: top;
    margin-top: 80px;
    border-top: groove;
}

.this_order {
    margin: 0 auto;
    width: 30%;
    max-height: 400px;
    overflow: scroll;
}

#view_all_orders_table {
    width: 40%;
    margin-left: 30px;
}
.input-append {
    position: relative;
    text-align: center;
    top: 200px;
}

.input-append form {
    width: 30%;
}

.view_table {
    display: inline-block;
    width: 2000px;
    height: 2000px;
}

.menu_content {
    width: 500px;
    display: inline-block;
}
#showCategory  {
    background-color:red;
}


/*
============================================================
Home Page
============================================================
*/

/*
 * Author: Carlos Alvarez
 * URL: http://alvarez.is
 *
 * Project Name: SPOT - Free Bootstrap 3 Theme
 * Version: 1.0
 * URL: http://blacktie.co
 */
 
/* FONTS */


/* OVERALL ASPECT */


/* ==========================================================================
Menu Page
   ========================================================================== */

/* ==========================================================================
   Wrap Sections
   ========================================================================== */



.modal-header {
    background: #bdbdbd;
    color: white;
}

.modal-header h4 {
    font-weight: 700;
}

.modal-body {
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
}

.modal-footer {
    background: #f2f2f2;
    margin-top: 0px; 
}

/* ==========================================================================
   Dashboard
   ========================================================================== */



.stylish-panel {
    padding: 20px 0;
    text-align: center;
}
.stylish-panel > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}
.stylish-panel > div:hover > div{
    cursor: pointer;
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;

}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.dash-panel {
  padding: 30px;
  text-align: center;
}
=

.dashboard-panel {

}



/*
============================================================
Login
============================================================
*/


.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading { 
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}

.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
#user_login {
    margin-top: 15px;
}

#logout {
    position: relative;
    text-align:center;
    bottom: 10px;
    float: right;
}
.btn-login #cancel_login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
#cancel_login {
    color: white;
    margin-top: 4px;
    background-color: rgba(255, 120, 120, 0.57);

}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}
.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

/*
============================================================
Build Menu Page
============================================================
*/
#show_category {
    position: relative;
    height: 960px;
}

#show_category h2 {
    position:absolute;
    top: 30%;
    left: 30%;
}

#show_category .showCategory{
    position: relative;
    top: 15%;
}
#show_category form {
    margin: 0 auto;
    margin-left: 30px;
    margin-top: 20px;
    padding: 0;
    font-weight: bold;

}

#show_category .update_item {
    display: inline;
    width: 10%;
    background-color: #99ccff;
    color: white;
    border-radius: 5px;
    margin-left: 4px;
}


/*
============================================================
App Content
============================================================
*/

.menu_header {
    text-align: center;
}

.get_started_btn {
    margin: 25px;
    left: 0;
    right: 0;
    width: 100px;    
    height: 35px;
    color: grey;
}

.menu_form_category {
    margin-top: 30px;
    width: 100%;
    text-align: center; 
}
.add_select_category div {
    display: inline-block;
    margin: 0 auto;

}
#add_category {
    width: 300px; 
    vertical-align: top;
}
#select_category {
    width: 300px;
    vertical-align: top;
}
.menu_items {
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}
#add_order_button {
    margin-left: 33%;
}

/*
============================================================
View All Orders Container
============================================================
*/
.view_all_orders_container li {
    list-style-type: none;
}


/*
============================================================
Restaur Container
============================================================
*/
.container-fluid h3 {
    color: red;
    text-align: center;

}


.restaur_buttons {
    width: 200px;
    height: 60px;
    border: solid;
    margin: 0 auto;
}

.food_icon_main {
    position: absolute;
    left: 200px;
    top: 463px;
    width: 4%;
    height: 5%;
    border:solid;
}


.food_icon {
    position: absolute;
    left: 100px;
    top: 463px;
    width: 4%;
    height: 5%;
    content: url('http://icons.iconarchive.com/icons/icons-land/points-of-interest/256/Restaurant-Blue-icon.png');
}

.food_icon1 {
    position: absolute;
    width: 4%;
    height: 5%;
    content: url('http://icons.iconarchive.com/icons/icons-land/points-of-interest/256/Restaurant-Blue-icon.png');
}

.loadedDiv {
    width: 300px;
    height: 300px;
    background-color: green;

}
#addicon {
    margin-left: 30px;
}

.Omarks {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 2em;
}
.Omarks.one {
    background-color: red;
}

.icon_heading {
    position: relative;
    top: 14px;
    left: 2px;
    margin-bottom: 3px;
    padding: 0;
}

.res, .bat, .bar, .kit {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.res2 {
    content: url("https://cdn1.iconfinder.com/data/icons/kitchen-4/500/Dine_dining_eat_eating_fork_knife_meal_meals_place-512.png");
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}
#ab2 {
    background-color: red;
}



