/*  Here we are */
.form_add_menu {
    overflow: hidden;
    margin: 0 auto;
}

.category_input {
    width: 40%;
}


.add_category_name {
    font-size: 10px;
}

/* column 2 */
#menu_preview {
    float: right;
    width: 60%;
    height: 300px;
    background-color: green
}

#menu_form {
    float: left;
    width: 200px;
    margin-left: -200px;
    height: 300px;
    background-color:red;
}
#clear_modal {
    clear: both;
}



#menu_wrapper {
    padding-left: 0;
    /* transition code here */
}
.yo {
    z-index: -1;
}

.myModal .modal-dialog {
  width: 100%;
  height: auto;
  padding: 10%;
}

.view_menu_test_modal {
    padding: 30%;
}


#main_content_wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}



#addcat {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#addmenu {
    background-color: red;
    height: 100vh;
    margin: 0;
}


.view_menu_test_modal {
    width: 100%;
    padding: 0;


}

#modalgrab {
    width: 300px;
    background-color: red;
}


.ab {
    border: 4px solid;
    height: 2000px;
    background: linear-gradient(#E0E8D3, #D3E8E6);
    margin-bottom: 0;
    height: 100%;
    padding-bottom: 200px;
}


.table_containers {
    margin-top: 100px;
}


.table_containers {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3% 0 3%;
}

.menu_div {
    margin: 20px;
}




.menu-remove {
    margin-left: 3%;
}
h4  {
    text-align: center;
}


.menus {
    margin: 5px;
}



.menu_div {
    margin: 3%;
    margin: 0 auto;
}


.menu-tables  th:nth-child(1) {
    width: 10%;
}
.menu-tables  th:nth-child(2) {
    width: 35%;
}
.menu-tables  th:nth-child(3) {
    width: 5%;
}
.menu-tables  th:nth-child(4) {
    width: 30%;
}


.btn.create_layout {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	border: 1px solid black;
	margin-left: 30px;
	font-color: black;
	margin-top: 15px;
	text-decoration: none;
	color: #ff9999;
	border-radius: 100px;
	transition: background-color 0.2s;
}

.restaur_container  {
    position: relative;
    top: 1%;
    left: 4%;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 3%;
    border: double;
    border-radius: 20px;
    box-shadow: 10px 10px 5px  #888888;
}

.restaur_container2 {
    position: relative;
    top: 1%;
    left: 4%;
    width: 800px;
    height: 500px;
    margin: auto;
    margin-top: 3%;
    border: double;
    border-radius: 20px;
    box-shadow: 10px 10px 5px  #888888;

}
 .modal_stuff {
     z-index: -1;
 }

.radio {
    margin-top: 5px;
}


.btn.create_layout:hover {
	background-color: #1C9CC7;
}

#create_layout_page {
	background: url(images/layout_background.jpg);
	margin: 0 auto;
	padding: 0;
	width: auto;
	height: auto;
}


#modal {  
	padding: 0;
	margin: 0;
}
.selecting_tables {
	text-align: center;
}
.table-advance tr td {
    vertical-align: middle !important;
}

/* view menu */
.view_table_container {
	text-align: center;
}
.table-advance tr td {
    vertical-align: middle !important;
}

.no-border {
    border-bottom: none;
}

.dataTables_length , .dataTables_filter{
    padding:15px;
}
.dataTables_info{
    padding:0 15px;
}

.dataTables_filter {
    float: right;
}

.dataTables_length select {
    width: 65px;
    padding:5px 8px;
}

.dataTables_length label, .dataTables_filter label {
    font-weight: 300;
}

.dataTables_filter label {
    width: 100%;
}

.dataTables_filter label input {
    width: 78%;
}

.border-top {
    border-top: 1px solid #ddd;
}

.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination li.disabled a{
    color: #c7c7c7;
}
.dataTables_paginate.paging_bootstrap.pagination li a{
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}

.dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a{
    color: #797979;
    background: #eee;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-right: 15px;
    margin-top: -5px;
    margin-bottom: 15px;

}

.dataTable tr:last-child {
    border-bottom: 1px solid #ddd;
}
.btn-row {
    margin-bottom: 10px;
}

/*tabs*/

.tab-head {
    background: #688a7e;
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

.tab-container {
    margin-top: 10px;
}

.tab-head .nav-tabs > li > a {
    border-radius: 0;
    margin-right: 1px;
    color: #fff;
}

.tab-head .nav-tabs > li.active > a, .tab-head .nav-tabs > li > a:hover, .tab-head .nav-tabs > li.active > a:hover, .tab-head .nav-tabs > li.active > a:focus {
    background-color: #f1f2f7;
    border-color: #f1f2f7;
    color: #797979;
}

/*general page*/

.progress-xs {
    height: 8px;
}

.progress-sm {
    height: 12px;
}

.panel-heading .nav {
    border: medium none;
    font-size: 13px;
    margin: -10px -15px -11px;
}

.tab-bg-primary {
    background: #688a7e;    
    border-bottom: none;
}

.tab-bg-info {
    background: #324c57; 
	
    border-bottom: none;
}
.tab-bg-info.panel-heading .nav > li.active > a, .tab-bg-info.panel-heading .nav > li > a:hover{
    color: #36464d;
}
.tab-bg-info.panel-heading .nav{
    margin: -10px 15px -11px;
}
.panel-heading .nav > li > a,
.panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
    border-width: 0;
    border-radius: 0;
}

.panel-heading .nav > li > a {
    color: #fff;
}

.panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
    color: #688a7e;
    background: #fff;
}

.tab-right {
    height: 38px;
}

.panel-heading.tab-right .nav > li:first-child.active > a, .tab-right.panel-heading .nav > li:first-child > a:hover {
    border-radius:  0 ;
    -webkit-border-radius: 0 ;
}

.panel-heading.tab-right .nav > li:last-child.active > a, .tab-right.panel-heading .nav > li:last-child > a:hover {
    border-radius:  0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
}

.panel-heading.tab-right .nav-tabs > li > a {
    margin-left: 1px;
    margin-right: 0px;
}

.m-bot20 {
    margin-bottom: 20px;
}

.m-bot-none {
    margin-bottom: 0;
}

.wht-color {
    color: #fff;
}

.close-sm {
    font-size: 14px;
}

/*carousel*/

.carousel-indicators li {
    background:  rgba(0, 0, 0, 0.2) ;
    border:  none;
    transition:background-color 0.25s ease 0s;
    -moz-transition:background-color 0.25s ease 0s;
    -webkit-transition:background-color 0.25s ease 0s;
}

.carousel-indicators .active {
    background:#00a0df;
    height: 10px;
    margin: 1px;
    width: 10px;
}

.carousel-indicators.out {
    bottom: -5px;
}

.carousel-indicators.out {
    bottom: -5px;
}

.carousel-control {
    color: #999999;
    text-shadow: none;
    width: 45px;
}

.carousel-control i {
    display: inline-block;
    height: 25px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 5;
}


.carousel-control.left, .carousel-control.right {
    background: none;
    filter:none;
}

.carousel-control:hover, .carousel-control:focus {
    color: #CCCCCC;
    opacity: 0.9;
    text-decoration: none;
}

.carousel-inner h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.carousel-inner {
    margin-bottom: 15px;
}

/*gritter*/
.gritter-close {
    left: auto !important;
    right: 3px !important;
}


/*form*/


.sm-input {
    width: 175px;
}

.form-horizontal .form-group {
    border-bottom: 1px solid #eff2f7;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.form-horizontal .form-group:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.form-horizontal .form-group .help-block {
    margin-bottom: 0;
}


.round-input {
    border-radius: 500px;
    -webkit-border-radius: 500px;
}


.m-bot15 {
    margin-bottom: 15px;
}

.form-horizontal .checkbox-inline > input {
    margin-top: 1px;
	border:none;
}


/*form validation*/

.form-validate .form-group label.error {
    display: inline;
    margin: 5px 0;
    color: #00a0df;
    font-weight: 400;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .form-validate .form-group input.error , .form-validate .form-group textarea.error{
    border-color: #00a0df !important;
}

#register_form label.error {
    display: inline;
    margin:5px 0px;
    width: auto;
    color: #00a0df;
}

.checkbox, .checkbox:hover, .checkbox:focus  {
	border:none;
}

.waitlist_container {
    text-align: center;
}

.waiting_list_table {
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
}
.waiting_list_table .btn {
    margin: 0 1px; 0; 1px;
}

#waitlist_modal {
    padding: 10%;
}

.select_table {
    text-align: center;
}

.orderModal .modal-dialog{
    width: 100%;
    max-height: 800px;
    overflow-y: scroll;
}




/* Modal */




